*, body{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.job-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap : 2rem;
    padding-block: 2rem;
}

/* card{
    border-radius: 3px;
    box-shadow: 8px;
} */

.card-header{
    display: flex;
}
.header-items{
    display: inline;
    padding-left: 20px;
}
.header-items > div {
    line-height: 1.5rem;
}
img{
    width: 30px;
}

button{
    width: 100%;
}


.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    padding: 1rem;
} 

.btn-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.job-details {
    height: 200px;
    overflow: hidden;
    position: relative;
}
.job-details .view-more{
    position: absolute;
    background-color: beige;
    color: black;
    display: block;
    width: 100%;
    text-align: center;
    bottom: 0rem;
    padding: 1rem;
    background: linear-gradient(180deg, transparent, #B2BEB5);
    font-weight: 900;
}


.view-more {
    display: flex;
    background-color: transparent;
    justify-content: center;
    padding: 4px 8px;
    cursor: pointer;
    margin-top: 8px;
    font-weight: 900;
}

.view-more:hover {
    background-color: #8cd9e4;
}

.image-div{
    padding: 0.6rem;
}

.job-card {
    max-width: 345px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.apply-btn{
    background-color: aquamarine;
}

.select-container {
    margin-right: 10px;
    display: flex;
    align-items: end;
}

.select-container select {
    height: 2rem;
    margin : 1rem 0px 0px 1rem;
}

.apply-btn{
    margin-left: 1rem;
}
